/JPToken/Interfaces01/nbproject/private/
/JPToken/Interfaces01/build/
/JPToken/build/
/JPToken/banco/nbproject/private/
/JPToken/banco/build/
/JPToken/banco02/nbproject/private/
/JPToken/banco02/build/
